body {
  font-family: 'Open Sans', sans-serif;
  background-color: white;
}
@media (max-width: 991px) {
  body .col-xs-offset-2 {
    margin-left: 0% !important;
  }
}
@media (max-width: 991px) {
  body .col-xs-10 {
    width: 100%;
  }
}
body .brand-smallscreen {
  margin-top: 0px;
  margin-bottom: 20px;
}
body .brand-smallscreen a {
  color: #c9423f;
  font-weight: bold;
  font-size: 24px;
  margin-left: 15px;
}
@media (min-width: 991px) {
  body .brand-smallscreen {
    display: none;
  }
}
@media (max-width: 991px) {
  body .photo {
    width: 0%;
  }
  body .photo span {
    display: none;
  }
}
body .photo span {
  background-image: url('../media/jeffjose.jpg');
  float: left;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  border: 1px solid white;
  top: 20px;
  position: fixed;
}
body .photo p {
  position: absolute;
  margin-left: 10.6666%;
  color: #c9423f;
  font-weight: bold;
  font-size: 16px;
  bottom: -30%;
}
body .header {
  margin-top: 20px;
}
body .header a:hover,
body .header a:focus {
  text-decoration: none;
  outline: none;
}
body .header span {
  transition: all 100ms ease-in-out;
  color: white;
  background-color: #c9423f;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
}
body .header span.buttons {
  background-color: rgba(0, 0, 0, 0);
  color: #c9423f;
}
body .header span.buttons.active {
  color: #c9423f;
  background-color: #f6dfde;
}
body .header span.buttons.code,
body .header span.buttons.talks,
body .header span.buttons.resume,
body .header span.buttons.about {
  color: #c9423f;
}
body .header span.buttons.code:hover,
body .header span.buttons.talks:hover,
body .header span.buttons.resume:hover,
body .header span.buttons.about:hover {
  background-color: #f6dfde;
}
body .header span.buttons.linkedin,
body .header span.buttons.twitter,
body .header span.buttons.github {
  color: #607D8B;
}
body .header span.buttons.linkedin:hover,
body .header span.buttons.twitter:hover,
body .header span.buttons.github:hover {
  background-color: #dee5e8;
}
body .main {
  color: #333;
  margin-top: 20px;
  padding-left: 25px;
}
body .main a {
  transition: all 100ms ease-in-out;
  border-bottom: 2px solid #f0cbca;
  color: #cf5653;
}
body .main a:hover,
body .main a:focus,
body .main a:active {
  text-decoration: none;
  color: #c9423f;
  border-bottom: 2px solid #da7d7b;
}
body .index {
  color: #333;
  margin-top: 20px;
  padding-left: 25px;
  line-height: 30px;
  font-size: 16px;
}
body .index a {
  transition: all 100ms ease-in-out;
  border-bottom: 2px solid #f0cbca;
  color: #cf5653;
}
body .index a:hover,
body .index a:focus,
body .index a:active {
  text-decoration: none;
  color: #c9423f;
  border-bottom: 2px solid #da7d7b;
}
body .code {
  color: #333;
  margin-top: 20px;
  padding-left: 25px;
}
body .code a {
  transition: all 100ms ease-in-out;
  border-bottom: 2px solid #f0cbca;
  color: #cf5653;
}
body .code a:hover,
body .code a:focus,
body .code a:active {
  text-decoration: none;
  color: #c9423f;
  border-bottom: 2px solid #da7d7b;
}
body .code .blurb {
  line-height: 30px;
  font-size: 16px;
  margin-bottom: 30px;
}
body .code h3 {
  margin-bottom: 20px;
}
body .code h3 span {
  color: #b3b3b3;
  margin-left: 10px;
  font-size: 14px;
  font-weight: bold;
}
body .code .item {
  margin-bottom: 30px;
}
body .talks {
  color: #333;
  margin-top: 20px;
  padding-left: 25px;
  line-height: 30px;
  font-size: 16px;
}
body .talks a {
  transition: all 100ms ease-in-out;
  border-bottom: 2px solid #f0cbca;
  color: #cf5653;
}
body .talks a:hover,
body .talks a:focus,
body .talks a:active {
  text-decoration: none;
  color: #c9423f;
  border-bottom: 2px solid #da7d7b;
}
body footer {
  position: fixed;
  bottom: 0px;
  z-index: 10000;
  width: 100%;
  color: white;
}
body footer div {
  padding-top: 6px;
  font-size: 12px;
  height: 30px;
  background-color: #c9423f;
}
body footer div a {
  color: white;
  border-bottom: 1px solid white;
}
body footer div a:hover {
  text-decoration: none;
  color: white;
}
