@brandColor: #0B91D6;
@brandColor: #c9423f;
@fontColor: #333;
@bgColor: #f9f7ed;
@bgColor: white;

@blue: #2196F3;
@teal: #009688;
@purple: #9C27B0;
@bluegrey: #607D8B;

body {

    font-family: 'Open Sans', sans-serif;

    background-color: @bgColor;

    .col-xs-offset-2 {

        @media (max-width: 991px) {
            margin-left: 0% !important;
        }
    }

    .col-xs-10 {

        @media (max-width: 991px) {
            width: 100%; // behave like .col-xs-12
        }

    }

    .brand-smallscreen {

        margin-top: 0px;
        margin-bottom: 20px;
        a {
            color: @brandColor;
            font-weight: bold;
            font-size: 24px;
            margin-left: 15px;
        }


        @media (min-width: 991px) {
            display: none;
        }
    }

    .photo {

        @media (max-width: 991px) {
            width: 0%;

            span {
                display: none;
            }
        }

        span {

            background-image: url('../media/jeffjose.jpg');
            float: left;

            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 50%;

            height: 150px;
            width: 150px;
            border: 1px solid white;

            top: 20px;
            position: fixed;

        }

        p {
            position: absolute;
            margin-left: 10.6666%;
            color: @brandColor;
            font-weight: bold;
            font-size: 16px;
            bottom: -30%;
        }

        }

    .header {

        margin-top: 20px;

        a:hover, a:focus {
            text-decoration: none;
            outline: none;
        }

        span {

            transition: all 100ms ease-in-out;
            color: white;
            background-color: @brandColor;
            padding: 5px 10px;
            font-size: 16px;
            cursor: pointer;

            &.buttons {
                background-color: rgba(0, 0, 0, 0);
                color: @brandColor;


                &.active {
                    color: @brandColor;
                    background-color: lighten(@brandColor, 40%);
                }

                &.code, &.talks, &.resume,&.about {
                    color: @brandColor;

                    &:hover {
                        background-color: lighten(@brandColor, 40%);
                    }

                }

                &.linkedin, &.twitter, &.github {

                    color: @bluegrey;

                    &:hover {
                        background-color: lighten(@bluegrey, 43%);
                    }
                }
    
              }
            }
        }

    .main {
        color: @fontColor;
        margin-top: 20px;
        padding-left: 25px;

            a {

                transition: all 100ms ease-in-out;
                border-bottom: 2px solid lighten(@brandColor, 35%);

                color: lighten(@brandColor, 5%);

                &:hover, &:focus, &:active {
                    text-decoration: none;
                    color: @brandColor;
                    border-bottom: 2px solid lighten(@brandColor, 15%);
                }
            }
        }

    .index {
        .main;
        line-height: 30px;
        font-size: 16px;
    }

    .code {
        .main;

        .blurb {
            line-height: 30px;
            font-size: 16px;
            margin-bottom: 30px;
        }

        h3 {
            margin-bottom: 20px;
            span {
                color: lighten(@fontColor, 50%);
                margin-left: 10px;
                font-size: 14px;
                font-weight: bold;
            }
        }

        .item {
            margin-bottom: 30px;
        }
    }

    .talks {
        .main;
        line-height: 30px;
        font-size: 16px;
    }

   footer {
       position: fixed;
       bottom: 0px;
       z-index: 10000;
       width: 100%;
       color: white;

       div {
           padding-top: 6px;
           font-size: 12px;
           height: 30px;
           background-color: @brandColor;

           a {
               color: white;
               border-bottom: 1px solid white;

               &:hover {
                   text-decoration: none;
                   color: white;
               }
           
           }


       }
   
   }

}

