<div ng-controller="sampleAppCtrl">
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
        <div class='container'>
            <a class="navbar-brand" href="#">MyApp</a>
            <ul class="nav navbar-nav">
                <li><a href="#/link1"> Link 1</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="jumbotron">
            <center>
                <h1> Link1 | Sample Application </h1>
            </center>
        </div>
    </div>
</div>
